.keys {
  /*change color to change the letters foreground color*/
  color: black;
  border: 1px solid rgb(45, 45, 45);
  text-align: center;
  width: 70px;
  height: 40px;
  vertical-align: baseline;
  /*Change this to change the keys background color, */
  /*Don't forget to change the js file 23 line as well */
  /* setting it to the same color*/
  background-color: rgb(170, 170, 170);
  border-radius: 3px;
  font-family: Franklin Gothic;
}

.margin {
  align-items: center;
  margin: auto;
}

.windows {
  height: 60%;
  width: 35%;
}

.space {
  width: 94%;
}
